/* === DEFINE COUSTOM COLORS ===
	Red: #f63c3c;
	LIGHT GREY: #fafafa;
	MID-GREY: #352d2f;
	DARK GREY: #30282a;
 =========================== */

 /* === COUSTOM BACKGROUNDS === */
 .bg-danger-modified {
 	background-color: #f63c3c;
 }

 .bg-light-modified {
 	background-color: #fafafa;
 }

 .bg-secondary-modified {
 	background-color: #352d2f;
 }

 .bg-dark-modified {
 	background-color: #30282a;
 }

 .btn-danger-modified {
 	background-color: #f63c3c;
 	border-color: #f63c3c;
 	color: #fff;
 }

 .text-danger-modified {
 	color: #f63c3c;
 }

.card:hover{
	box-shadow: 4px 8px 32px 8px rgba(0, 0, 0, 0.1);
}

.round-counter {
	width: 8rem;
	height: 8rem;
}



/* === CUSTOM FONTS CLASSES === */




/* === RESPONSIVE TYPOGRAPHY === */
html {
	font-size: 1rem;
}

@media (max-width: 575.98px) { /*== xs screens ==*/
	html {
	 font-size: 0.75rem;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) { /*== sm screens ==*/
	html {
	 font-size: 0.9rem;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) { /*== md screens ==*/
	html {
	 font-size: 1rem;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) { /*== lg screens ==*/
	html {
	 font-size: 1rem;
	}
}